<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
        <div class="row">
          <div class="col-lg-2"></div>

          <div class="col-lg-8 my-3">
            <h1 class="text-center">Criar conta ou Entrar</h1>
            <p class="text-center lead">Faça login ou crie sua conta abaixo</p>

            <%- include('includes/messages'); %>

              <div class="row">

                <div class="col-lg my-5">
                  <center>
                    <h4>Novo por aqui?
                      <p>Faça seu cadastro</p>
                    </h4>
                  </center>
                  <p>Preencha abaixo para criar sua conta:</p>

                  <form class="form-cadastro" action="/login/register" method="POST">
                    <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                    <div class="form-group">
                      <label>Cadastre um e-mail</label>
                      <input type="email" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                      <label>Cadastre uma senha</label>
                      <input type="password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-warning" class="shadow-none p-3 mb-5 bg-light rounded">Criar minha conta</button>
                  </form>

                </div>

                <div class="col-lg my-5">
                  <center>
                    <h4>Que bom te ver de volta!
                      <p>Faça seu login</p>
                    </h4>
                  </center>

                  <p>Se você já tem uma conta, faça o login abaixo:</p>

                  <form class="form-login" action="/login/login" method="POST">
                    <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                    <div class="form-group">
                      <label>Seu e-mail</label>
                      <input type="email" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                      <label>Sua senha</label>
                      <input type="password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-warning">Entrar</button>
                  </form>

                </div>

              </div>

          </div>

          <div class="col-lg-2"></div>
        </div>
    </div>

    <%- include('includes/footer') %>